body{
    margin: 0;
    padding: 0;
    color: #041562;
    background-color: #eee;
    font-family:Arial, Helvetica, sans-serif;
}

#nome{
    font-size: 250%;
    letter-spacing: -3px;
}

#cabecalho{
    flex:1;
    max-width: 60%;
    margin-left: 5%;
}

#barra-superior{
    background-color: #11468f;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #eee;
    font-size: 150%;
    letter-spacing: -1px;
    font-weight: bold;
}

#barra-superior p{
    margin: 0;
}

#links-superior{
display:flex;
align-items: center;
justify-content: space-between;
}

#links-superior a{
    color: white;
    font-size: 180%;
}

#perfil{
    width: 20%;
    border-radius: 50%;
    margin: 20px 0;
}
#info{
    display: flex;
    align-items: center;
}
.container{
    max-width:70%;
    margin: 0 auto;
}